.nav-links {
  list-style: none;
  display: flex;
  gap: 39px;
}

.nav-links .link {
  color: #28293d;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.35px;
  font-family: "sf-pro";
}

.login {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 4px;
}

.drawerLink {
  color: #28293d;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.35px;
  font-family: "sf-pro";
  
}
.drawer {
  padding: 10px 10px;
}
.drawer:hover {
  background-color: rgb(209, 229, 243);
}
